$color-primary: #f79210;

.text-primary {
    color: $color-primary !important;
}

/* Slider */

.carousel-home {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-img {
    object-fit: cover;
    height: 100vh !important;
    width: 100vw !important;
}

.carousel-caption {
    background: rgba(1, 1, 1, 0.2);
    width: 100%;
    right: 0;
    left: 0;
}

.slider-margin {
    margin-top: 100vh;
}

#particles-js {
    position: absolute;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
}

.bg-transparnt {
    background-color: rgba(1, 1, 1, .2);
}